@model MyDog.Data.MyDogDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MyDogDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetBreed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetBreed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
